<p id="notice"><%= notice %></p>

<p>
  <strong>Rol persona:</strong>
  <%= @rol_persona.rol_persona %>
</p>

<%= link_to 'Edit', edit_rol_persona_path(@rol_persona) %> |
<%= link_to 'Back', rol_personas_path %>
