<p>Hola <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<p>Alguien ha requerido una liga para cambiar tu contraseña. Puedes hacer esto a través de la siguiente liga.</p>

<p><%= link_to 'Cambia mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste esto, por favor ignora este correo.</p>
<p>Tu contraseña no se cambiará hasta que accedas a la liga anterior y crees una nueva.</p>
